div.chatdata{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

div.chatdatauser {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    height: 5em;
    width: 100%;
}

div.container {
  width: 70%;
  min-width: 50%;
}

div.chatdatauser label {
    float:left;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 4em; 
}

div.chatdatauser span{
    display: block;
    overflow: hidden;
}

div.chatdatauser input{
    display: inline-block;
    width: 100%;
    background-color: #EEE;
    padding: .3em;
    margin: .1em;
    height: 2.5em;
    border-radius: 4px;
}

div.chatdata label{
    float:left;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 5em;
}

div.reviewresponse {
    margin-top: 1em;
    width: 100%;
}

div.chatdatareview {
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: absolute;
    left: -1px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 70%;
    min-width: 50%;
}

p.reviewclass {
  float:left;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  left: -1px;
  height: 1.8em;
  margin-top: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 26.5em;
}

ul.nobullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.chatdata span{
    display: block;
    overflow: hidden;
}

div.chatdata input{
    display: inline-block;
    width: 100%;
    background-color: #EEE;
    padding: .3em;
    margin: .1em;
    height: 1.6em;
    border-radius: 4px;
}

p.instructionsbot{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    font-size: small;
    color: #405061;
}

.clear {
    clear: both;
}
/* Button */
button {
    display: inline-block;
    font-size: small;
    color: white;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #405061;
    border: none;
    display: block;
    margin-top: 1em;
    margin-right: 0;
    margin-left: auto;
}

button:hover {
    opacity: 0.8;
    font-weight: normal;
}
